{% extends 'Products/html/header_footer.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'Orders/css/user_orders.css' %}">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />


<div class="container">
    <div class="row my-5">
        <div class="col-12 w-100">
            <form method="post" class="text-center">
                {% csrf_token %}
                <input name="package-code" type="text" class="package-code w-50">
                <input type="submit" class="btn bg-warning package-code-button" value="Send">
            </form>
            {% if messages %}
                {% for message in messages %}
                    <h3 class="text-danger text-center my-3">{{ message }}</h3>
                {% endfor %}
            {% endif %}
            {% for order in orders %}
            {% for item in items %}  
            <div class="card mb-3 mx-auto ordered-items">
                <label class="fw-bold ms-1 me-auto badge bg-warning">{{ order.package_status }}</label>
                <div class="card-body">
                    <img class="card-img-top" src="{{ item.phone.images.url }}" width="10px"> 
                    <h4 class=" text-center ">{{ item.phone.model }}</h4>
                    <p class="card-text text-center ">{{ order.email }}</p>
                    <label class="fw-bold text-success">{{ item.quantity }} | {{ item.price }}$</label>
                </div>
            </div>
            {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}