{% extends 'Products/html/header_footer.html' %}
{% load static %}

{% block content %}
    <title>{{ phone.model }}</title>
    <link rel="stylesheet" href="{% static 'Products/css/phone_model.css' %}">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="product-card bg-seccondary text-center">

                    <div id="carouselExample" class="carousel slide">
                        <div class="carousel-inner">
                        {% for image in images %}
                          <div class="carousel-item {% if forloop.first %} active {% endif %}">
                            <img src="{{ image.images.url }}" class="d-block mx-auto w-25">
                          </div>
                        {% endfor %}
                        </div>
                        <button class="btn btn-warning my-2" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-arrow-left-square" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm11.5 5.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                            </svg>
                        </button>
                        <button class="btn btn-warning my-2" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-arrow-right-square" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                            </svg>
                        </button>
                      </div>
                                                            
                    <h4>{{ phone.model }}</h4>
                    <form action="{% url 'cart:cart_add' phone.id %}" method="post">
                        {{ cart_product_form.quantity }}
                        {% csrf_token %}
                        <input type="submit" name="order" value="add to cart" class="fw-bold p-2 btn bg-warning my-3" id="#AddToCart">
                    </form>
                    <h5>{{ phone.price }}$</h5>
                    <p>{{ phone.describe }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}